:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #193549;
  color: white;
}

h2 {
  font-size: 50px;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 30px;

  input {
    width: 100%;
  }
}

.content img {
  padding: var(--spacing);
  filter: blur(var(--blur));
  background-color: var(--color);
}

.highlights {
  color: var(--color);
}
